<html>
<body>
 <img id="image"src=""/>
<br/>
 <input type="file"onchange="selectImage(this);"/>
<br/>
 <input type="button"onclick="uploadImage();"value="提交"/>
 <br/>
 <textarea rows="10" cols="60" id="text" type="text"  readonly="readonly">text文本框</textarea>
 <script type="text/javascript">
    $.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});
</script>
<script>
    
 var image = '';
 function selectImage(file){
  if(!file.files || !file.files[0]){
   return;
}
 var reader = new FileReader();
 reader.onload = function(evt){
 document.getElementById('image').src = evt.target.result;
 image = evt.target.result;
}
reader.readAsDataURL(file.files[0]);
}

 function uploadImage(){
   
   $.ajax({
    type:'POST',
    url: 'ajax/uploadimage',
    data: {image: image},
    async: false,
    dataType: 'json',
    success: function(data){
       alert('上传失败');
       document.getElementById('text').value=data;
   },
    error: function(XMLHttpRequest, textStatus, errorThrown){
        document.getElementById('text').value=XMLHttpRequest.responseText;
        alert(XMLHttpRequest.responseText);
   }
   });
}
</script>
 <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</body>
</html>